#Set your environment variables
#Use your own mongodb cluster string or if you have access to the password, replace <password> with the password

MONGODB_URI=mongodb+srv://bibaswanch1769:<password>@cluster.riaz9ts.mongodb.net/?retryWrites=true&w=majority&appName=Cluster
MONGODB_DATABASE=database name
